/* Default Mode (Light Mode) */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}

/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #282828;
	--fifth-backgroud: #202020;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* Teams Recommendation */

.tr-tab { 
	background-color: var(--second-background);
	width: 580px;
	height: 43px;
	position: absolute;
	top: 80px;
	right: 60px;
	border-radius: 15px;
}
.tr-text { 
	font-size: 20px;
	position: absolute;
	top: -12px;
	left: 32px;
}
.tr-second {
	background-color: var(--second-background);
	width: 580px;
	height: 712px;
	position: absolute;
	top: 140px;
	left: 1240px;
	border-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 10px;
}
.tr-overflow {
	width: 552px;
	height: 685px;
	position: absolute;
	top: 15px;
	left: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}
.tr-overflow::-webkit-scrollbar {
	width: 5px;
}
.tr-overflow::-webkit-scrollbar-thumb {
	background-color: var(--third-background);
	width: 10px;
	border-radius: 100px;
}
.tr-overflow::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
}
.company-1 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 12px;
}
.tr-company-icon {
	position: absolute;
	top: 8px;
	left: 12px;
	border-radius: 100%;
}
.company-text {
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: 4px;
	left: 82px;
}
.tr-arrow {
	position: absolute;
	top: 21px;
	right: 12px;
	transition-duration: 0.3s;
}
.arrow-tran {
	transition-duration: 0.3s;
}
.arrow-tran:hover {
	width: 30px;
	height: 30px;
}
.company-2 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 80px;
	left: 0px;
	border-radius: 12px;
}
.company-3 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 160px;
	left: 0px;
	border-radius: 12px;
}
.company-4 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 240px;
	left: 0px;
	border-radius: 12px;
}
.company-5 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 320px;
	left: 0px;
	border-radius: 12px;
}
.company-6 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 400px;
	left: 0px;
	border-radius: 12px;
}
.company-7 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 480px;
	left: 0px;
	border-radius: 12px;
}
.company-8 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 560px;
	left: 0px;
	border-radius: 12px;
}
.company-9 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 82px;
	left: 0px;
	border-radius: 12px;
}
.company-10 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 163px;
	left: 0px;
	border-radius: 12px;
}
.company-11 {
	background-color: var(--third-background);
	width: 535px;
	height: 70px;
	position: absolute;
	top: 244px;
	left: 0px;
	border-radius: 12px;
}