/* Default Mode (Light Mode) */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}


/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #323232;
	--fifth-backgroud: #2a2a2a;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* Gallery */

@media (max-width: 481px) {

	.gallery {
		width: 440px;
		height: 448px;
		position: absolute;
		left: 20px;
	}
	.g-text {
		height: 18px;
		font-size: 17px;
		position: absolute;
		top: 3px;
		left: 35px;
	}
	.g-text:hover {
		color: var(--text-color);
		font-size: 17px;
	}
	.g-arrow {
		width: 13px;
		height: 13px;
		position: absolute;
		top: 4.8px;
		left: 60px;
	}
	.g-arrow:hover {
		width: 13px;
		height: 13px;
	}
	.photo1 {
		width: 250px;
		height: 400px;
		position: absolute;
		left: 15px;
		top: 30px;
	}
	.photo2 {
		width: 250px;
		height: 242px;
		position: absolute;
		left: 225px;
		top: -18px;
	}
	.photo3 {
		width: 250px;
		height: 242px;
		position: absolute;
		left: 225px;
		top: 188px;
	}
}