/* Default Mode (Light Mode) */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}


/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #323232;
	--fifth-backgroud: #2a2a2a;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* Gallery */

.gallery {
	background-color: var(--second-background);
	width: 850px;
	height: 800px;
	position: absolute;
	top: 326px;
	left: 518px;
	border-radius: 15px;
}
.g-text {
	font-size: 18px;
	position: absolute;
	top: -380px;
	left: 40px;
}
.g-text:hover {
	font-size: 20px;
}
.a-g-text {
	color: var(--text-color);
	text-decoration: none;
}
.a-g-text:visited {
	color: var(--text-color);
}
.g-arrow {
	position: absolute;
	top: 7px;
	left: 68px;
	transition-duration: 0.3s;
}
.g-arrow:hover {
	width: 17px;
	height: 17px;
}
.photo1 {
	width: 390px;
	height: 735px;
	position: absolute;
	top: 40px;
	left: 25px;
	border-radius: 15px;
}
.photo2 {
	width: 390px;
	height: 360px;
	position: absolute;
	top: 40px;
	left: 435px;
	border-radius: 15px;
}
.photo3 {
	width: 390px;
	height: 360px;
	position: absolute;
	top: 415px;
	left: 435px;
	border-radius: 15px;
}
.photo1-img {
	width: 135%;
	height: 100%;
	position: absolute;
	left: -67px;
	clip-path: inset(0px 69px 0px 67px round 15px);
}
.photo2-img {
	width: 135%;
	height: 140%;
	position: absolute;
	bottom: -75px;
	left: -67px;
	clip-path: inset(69px 69px 74px 67px round 15px);
}
.photo3-img {
	width: 135%;
	height: 140%;
	position: absolute;
	bottom: -75px;
	left: -67px;
	clip-path: inset(69px 69px 74px 67px round 15px);
}