/* Default Theme (Light Mode)  */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}

/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #323232;
	--fifth-backgroud: #2a2a2a;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* Specialty Tab */

@media (max-width: 481px) {
    .specialty-tab {
        width: 441px;
        top: 910px;
        left: 20px;
    }
    .specialty-1 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 50px;
        left: 0px;
        border-radius: 8px;
    }
    .role-1 {
        font-weight: 500;
        position: absolute;
        top: -8px;
        left: 68px;
    }
    .specialty-2 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 50px;
        left: 225px;
        border-radius: 8px;
    }
    .role-2 {
        font-weight: 500;
        position: absolute;
        top: -7px;
        left: 45px;
    }
    .specialty-3 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 100px;
        left: 0px;
        border-radius: 8px;
    }
    .role-3 {
        font-weight: 500;
        position: absolute;
        top: -7px;
        left: 59px;
    }
    .specialty-4 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 100px;
        left: 225px;
        border-radius: 8px;
    }
    .specialty-5 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 0px;
        border-radius: 8px;
    }
    .specialty-6 {
        background-color: var(--second-background);
        width: 215px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 225px;
        border-radius: 8px;
    }
    .specialty-7 {
        background-color: var(--second-background);
        width: 215px;
        position: absolute;
        top: 200px;
    }
    .specialty-8 {
        width: 215px;
        position: absolute;
        top: 200px;
        left: 225px;
    }
}