/* Default Theme (Light Theme) */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}


/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #323232;
	--fifth-backgroud: #2a2a2a;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* BIO */

.bio-tab {
	background-color: var(--second-background);
	width: 850px;
	height: 1420px;
	position: absolute;
	top: 120px;
	left: 518px;
	border-radius: 15px;
}
.bio-background {
	background-color: var(--third-background);
	width: 780px;
	height: 565px;
	position: absolute;
	top: 40px;
	left: 32px;
	border-radius: 15px;
}
.bio-text {
	font-size: 20px;
	position: absolute;
	top: -8px;
	left: 20px;
}
.bio-area {
	background-color: #00000000;
	font-size: 18px;
	color: var(--text-color);
	font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
	width: 735px;
	height: 480px;
	position: absolute;
	top: 45px;
	left: 20px;
	border: none;
	resize: none;
}
.bio-area:focus {
	outline: none;
}
.bio-area::-webkit-scrollbar {
	width: 5px;
}
.bio-area::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	width: 10px;
	border-radius: 100px;
}
.bio-area::-webkit-scrollbar-track {
	background-color: var(--third-background);
	border-radius: 100px;
}
.social-media {
	display: flex;
	justify-content: space-evenly;
}
.tw-img {
	position: absolute;
	bottom: 7px;
	left: 105px;
}
.tw-text {
	font-size: 18px;
	height: 20px;
	position: absolute;
	bottom: 8px;
	left: 65px;
	text-decoration: none;
}
.tw-text:hover {
	font-size: 20px;
}
.tw-text:visited {
	color: var(--text-color);
}
.yt-img {
	position: absolute;
	bottom: 6px;
	left: 340px;
}
.yt-text {
	font-size: 18px;
	height: 20px;
	position: absolute;
	bottom: 15px;
	left: 375px;
	text-decoration: none;
}
.yt-text:hover {
	font-size: 20px;
}
.yt-text:visited {
	color: var(--text-color);
}
.gh-img {
	position: absolute;
	bottom: 10px;
	left: 585px;
}
.gh-text {
	font-size: 18px;
	height: 20px;
	position: absolute;
	bottom: 15px;
	left: 615px;
	text-decoration: none;
}
.gh-text:hover {
	font-size: 20px;
}
.gh-text:visited {
	color: var(--text-color);
}