/* Default Mode (Light Mode) */

:root {
	--primary-background: #E3E3E3;
	--bottombar-color: #E6E6E6;
	--second-background: #D9D9D9;
	--third-background: #CCCCCC;
	--fourth-background: #C0C0C0;
	--fifth-backgroud: #B5B5B;
	--scroll-color: #BEBEBE;
	--text-color: #2E2E2E;
	--text-color-hover: #2E2E2E77;
	--text-color-active: #000000;
	--carrosel-selected-color: #2E2E2E;
	--carrosel-next-color: #787878;
}

/* Dark Mode */

[theme="dark"] {
	--primary-background: #222222;
	--bottombar-color: #252525;
	--second-background: #2E2D2D;
	--third-background: #383838;
	--fourth-background: #282828;
	--fifth-backgroud: #202020;
	--scroll-color: #BEBEBE;
	--text-color: #EBEBEB;
	--text-color-hover: #EBEBEB77;
	--text-color-active: #FFFFFF;
	--carrosel-selected-color: #EBEBEB;
	--carrosel-next-color: #7B7B7B;
}

/* Jobs Recommendation */

.jr-tab { 
	background-color: var(--second-background);
	width: 1150px;
	height: 43px;
	position: absolute;
	top: 80px;
	left: 60px;
	border-radius: 15px;
}
.jr-text { 
	font-size: 20px;
	position: absolute;
	top: -12px;
	left: 32px;
}
.jr-second {
	background-color: var(--second-background);
	width: 825px;
	height: 712px;
	position: absolute;
	top: 140px;
	left: 60px;
	border-radius: 15px;
}
.jr-third {
	background-color: var(--third-background);
	width: 790px;
	height: 640px;
	position: absolute;
	top: 17px;
	left: 17px;
	border-radius: 15px;
}
.photo1 {
	background-color: rgba(0,0,0,0);
	width: 357px;
	height: 609px;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 15px;
}
.photo1-img {
	position: absolute;
	left: -35px;
	clip-path: inset(0% 3% 0% 8.2% round 15px)
}
.photo2 {
	background-color: rgba(0,0,0,0);
	width: 357px;
	height: 278px;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 15px;
}
.photo2-img {
	position: absolute;
	bottom: -50px;
	right: -35px;
	clip-path: inset(44% 8.2% 5% 8.2% round 15px);
}
.photo3 {
	background-color: rgba(0, 0, 0, 0);
	width: 357px;
	height: 278px;
	position: absolute;
	bottom: 35px;
	right: 15px;
	border-radius: 15px;
}
.photo3-img {
	position: absolute;
	bottom: -160px;
	right: -35px;
	clip-path: inset(26% 8.2% 24% 8.2% round 15px);
}
.jr-pages {
	background-color: var(--third-background);
	width: 80px;
	height: 20px;
	position: absolute;
	top: 675px;
	left: 384px;
	border-radius: 100px;
}
.page-1 {
	background-color: var(--carrosel-selected-color);
	width: 10px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 35px;
	border-radius: 100px;
}
.jr-second-tab {
	background-color: var(--second-background);
	width: 305px;
	height: 712px;
	position: absolute;
	top: 0px;
	left: 845px;
	border-radius: 12px;
}
.jr-third-top {
	background-color: var(--third-background);
	width: 275px;
	height: 70px;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 12px;
}
.jr-third-bottom {
	background-color: var(--third-background);;
	width: 275px;
	height: 600px;
	position: absolute;
	top: 95px;
	left: 15px;
	border-radius: 12px;
}
.company-icon {
	position: absolute;
	top: 8px;
	left: 12px;
	border-radius: 100%;
}
.c-text {
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: 0px;
	left: 82px;
}
.w-text {
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	top: 23px;
	left: 96px;
}
.looking-for {
	position: absolute;
	top: -10px;
	left: 25px;
}
.pg {
	position: absolute;
	top: 45px;
	left: 55px;
}
.pe {
	position: absolute;
	top: 65px;
	left: 55px;
}
.requeriments {
	position: absolute;
	top: 75px;
	left: 25px;
}
.photographer {
	font-size: 19px;
	font-weight: 500;
	position: absolute;
	top: 115px;
	left: 25px;
}
.degree {
	font-size: 17px;
	position: absolute;
	top: 160px;
	left: 55px;
}
.two-years {
	font-size: 17px;
	position: absolute;
	top: 180px;
	left: 55px;
}
.knowledge {
	font-size: 17px;
	position: absolute;
	top: 202px;
	left: 55px;
}
.eye {
	font-size: 17px;
	position: absolute;
	top: 248px;
	left: 55px;
}
.proficient {
	font-size: 17px;
	position: absolute;
	top: 271px;
	left: 55px;
}
.others {
	font-size: 17px;
	position: absolute;
	top: 315px;
	left: 55px;
}
.photo-editor {
	font-size: 19px;
	font-weight: 500;
	position: absolute;
	top: 330px;
	left: 25px;
}
.certificate {
	font-size: 17px;
	position: absolute;
	top: 375px;
	left: 55px;
}
.ty-exp {
	font-size: 17px;
	position: absolute;
	top: 398px;
	left: 55px;
}
.ty-exp {
	font-size: 17px;
	position: absolute;
	top: 398px;
	left: 55px;
}
.editing {
	font-size: 17px;
	position: absolute;
	top: 421px;
	left: 55px;
}
.strong {
	font-size: 17px;
	position: absolute;
	top: 464px;
	left: 55px;
}
.and {
	font-size: 17px;
	position: absolute;
	top: 507px;
	left: 55px;
}
.open-job {
	font-size: 16px;
	height: 18px;
	position: absolute;
	top: 565px;
	left: 150px;
	text-decoration: none;
	transition-duration: 0.3s;
}
.open-job:visited {
	color: var(--text-color);
}
.open-job:hover {
	font-size: 17px;
}
.oj-arrow {
	position: absolute;
	bottom: 15px;
	left: 240px;
	transition-duration: 0.3s;
}
.oj-arrow:hover {
	width: 13px;
	height: 13px;
}