@media only screen and (max-width: 480px) {

	.bottom-bar {
		width: 481px;
		height: 43px;
		position: absolute;
		bottom: -665px
	}
	.copyright {
		font-size: 14px;
		position: absolute;
		left: 15px;
	}
	.about-us {
		font-size: 13px;
		position: absolute;
		right: 15px;
		transition-duration: 0s;
	}
	.about-us:hover {
		color: var(--text-color);
		font-size: 13px;
	}
	.pd {
		position: absolute;
		left: 146px;
	}
	.arrow-tran2 {
		display: none;
	}
}
